# Global Android/IntelliJ ignores
**/.idea/
**/*.iml
**/.DS_Store
**/.gradle/
**/build/
**/captures/
**/.externalNativeBuild/
**/.cxx/
**/local.properties

# Secrets & Signing
**/*.jks
**/*.p12
**/*.keystore
**/google-services.json

# Built artifacts
**/*.apk
**/*.aar
**/*.bundle

# Local specific
/local.properties
/.idea/
/build/

# Local files and folders
/a-other-gits
/tree.md
/APKs
/.idea
/termux-x11-master
/.project
